{% extends "base.html" %}

{% block title %}Movie List{% endblock title %}

{% block content %}
<input type="text" id="searchBar" placeholder="Search movies...">
<hr>
<h1>Popular Movies this month</h1>
<div class="movie-container">
    {% for movie in movies %}
    <div class="movie-card">
        <img src="{{ movie.image.url }}" alt="{{ movie.name }}">
        <a class="movie-title" href="movie/{{ movie.id }}/">
            <h3><strong>{{ movie.name }}</strong></h3>
        </a>
        <p>
            {{ movie.duration }} Min <br>
            User Rating: {{ movie.user_rating }}
        </p>
    </div>
    {% endfor %}
</div>
{% endblock content %}


{% block script %}
<script>
    document.getElementById('searchBar').addEventListener('input', function() {
        var searchValue = this.value.toLowerCase();
        var movies = document.querySelectorAll('.movie-card');

        movies.forEach(function(movie) {
            var title = movie.querySelector('.movie-title').textContent.toLowerCase();
            if (title.includes(searchValue)) {
                movie.style.display = '';
            } else {
                movie.style.display = 'none';
            }
        });
    });
</script>

{% endblock script %}